html, body {
    height: 100vh;
    width: 100vw;
}

body, #grid {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#grid {
    height: 80%;
    aspect-ratio: 1/1;
    flex-wrap: wrap;
    background-color: black;
    border: 1px solid rgb(0, 0, 0);
}

.square {
    background-color: white;
    opacity: 1;
}

.square-hover {
    background-color: black;
}