html, body {
    height: 100vh;
    width: 100vw;
}

body, #grid {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#grid {
    height: 80%;
    aspect-ratio: 1/1;
    flex-wrap: wrap;
    /* background-color: gray; */
    border: 1px solid black;
}

.square {
    background-color: white;
}

.square-hover {
    background-color: black;
}