html, body {
    height: 100vh;
    width: 100vw;
    color: white;
}

body, #grid, #right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

body {
    gap: 20px;
    background-color: #282828;
}

#right-side {
    flex-direction: column;
    gap: 20px;
    height: 100vh;
}

p {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 32px;
}

button {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 32px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    padding: 5px 20px;
}

#top-settings p {
    margin: 0;
}

#grid {
    height: 80%;
    aspect-ratio: 1/1;
    flex-wrap: wrap;
    background-color: black;
    border: 5px solid rgb(0, 0, 0);
}

#top-settings {
    display: flex;
    justify-content: space-between;
    width: 80vh;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

.square {
    background-color: white;
    opacity: 1;
}

.square-hover {
    background-color: black;
}